<%- include('../includes/head.ejs')%>
<body>
<!--Header section-->
<%- include('../includes/header.ejs')%>

<!-- Section -->
<section class="form-container">
    <div class="frame-form"><br>
        <h3>¡Registro exitoso!</h3>
        <form>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <p>Los datos han sido verificados correctamente. Ahora puede ingresar a la plataforma.</p>
                </div>
            </div>
            <div class="row btn-container">
                <div class="col-lg-12">
                    <a href="/main/login" class="btn btn-form">Ingresar</a>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Fin section -->

<!--Footer section-->
<%- include('../includes/footer.ejs')%>