<%- include('../includes/head.ejs')%>
<body>
<!--Header section-->
<%- include('../includes/header.ejs')%>

<!-- Section -->
<section class="form-container">
    <div class="container-fluid frame-form"><br>
        <h3>¡Registro fallido!</h3>
        <form>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <p>Los datos siguientes datos no pudieron ser verificados correctamente:</p>
                </div>
                <div class="form-group col-md-12">
                    <p><span class="bold-text">Dato: </span> dato</p>
                </div>
            </div>
            <div class="row btn-container">
                <div class="col-lg-12">
                    <a href="/main/login" class="btn btn-form">Corregir datos</a>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Fin section -->

<!--Footer section-->
<%- include('../includes/footer.ejs')%>