<%- include('../includes/head.ejs') %>
<body>
<!--Header section-->
<%- include('../includes/header-main-menu.ejs') %>

<!--    Section imagenes-->
<section class="form-container">
    <div class="container-fluid frame-form">
        <h2>Cambiar mi contrase単a</h2>
        <form action="" class="max-width container">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="idContrasenia">Contrse単a actual</label>
                    <input type="password"  class="form-control" id="idContrasenia">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="idNuevaConstrasenia">Nueva contrase単a</label>
                    <input type="password" class="form-control" id="idNuevaConstrasenia">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <label for="idRepetirContrasenia">Vuelve a ingresar la nueva contrase単a</label>
                    <input type="password" class="form-control" id="idRepetirContrasenia">
                </div>
            </div>

            <div class="row btn-container">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <a href="./account-menu" class="btn btn-form">Regresar</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <button class="btn btn-form" type="submit">Guardar cambios</button>
                </div>
            </div>
        </form>
    </div>
</section>

<%- include('../includes/end.ejs') %>