<%- include('../includes/head.ejs')%>
<body>
<!--Header section-->
<%- include('../includes/header-main-menu.ejs')%>

<!--Section-->
<section class="cards">
    <div class="container-fluid row">
        <!-- Llenar formulario -->
        <div class="column-cards col-lg-6">
            <div class="card">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">
                <div class="card-body">
                    <h5 class="card-title">Modificar un reporte</h5>
                    <p class="card-text">Modifica los datos de un reporte ya finalizado.</p>
                    <a href="../change_report/select-report" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>
        <!-- Fin llenar formulario -->

        <!-- Continuar llenado -->
        <div class="column-cards col-lg-6">
            <div class="card">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">
                <div class="card-body">
                    <h5 class="card-title">Cambiar dictamen final</h5>
                    <p class="card-text">Modificar un dictamen final dado con anterioridad.</p>
                    <a href="./select-final-report" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>
        <!-- Fin continuar llenado -->
    </div>

    <!-- Botón regresar al main -->
    <div class="row btn-container">
        <div class="col-12">
            <a href="../main_menu/main-menu" class="btn btn-form">Regresar</a>
        </div>
    </div>
    <!-- Fin botón regresar -->
</section>
<!--Fin section-->