<%- include('../includes/head.ejs') %>
<body>
<!--Header section-->
<%- include('../includes/header-main-menu.ejs') %>

<!-- Section -->
<section class="form-container">
        <h3>Seleccionar el reporte a modificar</h3>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">No. de Ticket</th>
                    <th scope="col">Dictamen</th>
                    <th scope="col">Alcaldía</th>
                    <th scope="col">Uso del inmueble</th>
                    <th scope="col">Dictamen final</th>
                    <th scope="col">Modificar</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><a class="link-report" href="#">alc_numTicket_nombre_reporte.pdf</a></td>
                    <td>Azcapotzalco</td>
                    <td>Casa habitación</td>
                    <td>Edificación y/o Área Segura<br>Riesgo Bajo</td>
                    <td><a href="./change-data" class="btn btn-form">Modificar</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><a class="link-report" href="#">alc_numTicket_nombre_reporte.pdf</a></td>
                    <td>Iztapalapa</td>
                    <td>Departamentos</td>
                    <td>Edificación y/o Área Insegura<br>Riesgo Alto</td>
                    <td><a href="./change-data" class="btn btn-form">Modificar</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><a class="link-report" href="#">alc_numTicket_nombre_reporte.pdf</a></td>
                    <td>Xochimilco</td>
                    <td>Comercios</td>
                    <td>Seguridad Incierta</td>
                    <td><a href="./change-data" class="btn btn-form">Modificar</a></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td><a class="link-report" href="#">alc_numTicket_nombre_reporte.pdf</a></td>
                    <td>Magdalena Contreras</td>
                    <td>Oficinas Públicas</td>
                    <td>Seguridad Incierta</td>
                    <td><a href="./change-data" class="btn btn-form">Modificar</a></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td><a class="link-report" href="#">alc_numTicket_nombre_reporte.pdf</a></td>
                    <td>Gustavo A. Madero</td>
                    <td>Oficinas Privadas</td>
                    <td>Edificación y/o Área Insegura<br>Riesgo Alto</td>
                    <td><a href="./change-data" class="btn btn-form">Modificar</a></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td><a class="link-report" href="#">alc_numTicket_nombre_reporte.pdf</a></td>
                    <td>Cuajimalpa</td>
                    <td>Industrias</td>
                    <td>Edificación y/o Área Segura<br>Riesgo Bajo</td>
                    <td><a href="./change-data" class="btn btn-form">Modificar</a></td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td><a class="link-report" href="#">alc_numTicket_nombre_reporte.pdf</a></td>
                    <td>Álvaro Obregón</td>
                    <td>Estacionamiento</td>
                    <td>Edificación y/o Área Segura<br>Riesgo Bajo</td>
                    <td><a href="./change-data" class="btn btn-form">Modificar</a></td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td><a class="link-report" href="#">alc_numTicket_nombre_reporte.pdf</a></td>
                    <td>Benito Juárez</td>
                    <td>Bodegas</td>
                    <td>Seguridad Incierta</td>
                    <td><a href="./change-data" class="btn btn-form">Modificar</a></td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td><a class="link-report" href="#">alc_numTicket_nombre_reporte.pdf</a></td>
                    <td>Coyoacán</td>
                    <td>Educación</td>
                    <td>Edificación y/o Área Insegura<br>Riesgo Alto</td>
                    <td><a href="./change-data" class="btn btn-form">Modificar</a></td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td><a class="link-report" href="#">alc_numTicket_nombre_reporte.pdf</a></td>
                    <td>Venustiano Carranza</td>
                    <td>Recreativo</td>
                    <td>Edificación y/o Área Insegura<br>Riesgo Alto</td>
                    <td><a href="./change-data" class="btn btn-form">Modificar</a></td>
                </tr>
                </tbody>
            </table>

            <div class="row btn-container">
                <div class="col-12">
                    <a href="./change-menu" class="btn btn-form">Regresar</a>
                </div>
            </div>
        </div>
</section>