<!--Footer section-->
<footer class="footer">
    <div class="container-fluid row">
        <div class="col-lg-6">
            <h3>Fissure Detector</h3>
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="/">Inicio</a>
                <a class="list-group-item list-group-item-action" href="/main/login">Ingresar</a>
                <a class="list-group-item list-group-item-action" href="/main/registro">Registro</a>
                <a class="list-group-item list-group-item-action" href="/main/about">Acerca de</a>
            </div>
        </div>
        <!--
        <div class="col-lg-4">
            <h3>Nosotros</h3>
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="#">Alumnos</a>
                <a class="list-group-item list-group-item-action" href="#">Directores</a>
            </div>
        </div>
        -->
        <div class="col-lg-6">
            <h3>Contacto</h3>
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="http://www.escom.ipn.mx">ESCOM</a>
                <a class="list-group-item list-group-item-action" href="https://www.ipn.mx">IPN</a>
            </div>
        </div>
    </div>
</footer>
</body>

</html>