<!--Header section-->
<header class="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark ">

            <a class="navbar-brand logo-name" href="../main_menu/main-menu">Fissure Detector</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <div class="btn-group">
                            <div class="btn-group dropleft">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Menú
                                </button>
                                <div class="dropdown-menu">
                                    <!-- Dropdown menu links -->
                                    <a class="dropdown-item" href="../upload_images/images-menu">Subir Imágenes</a>
                                    <a class="dropdown-item" href="../fill_report/report-menu">Llenar Reporte</a>
                                    <a class="dropdown-item" href="../change_report/change-menu">Modificar Reporte</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="btn-group">
                            <div class="btn-group dropleft">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    ¡Hola, Usuario!
                                </button>
                                <div class="dropdown-menu">
                                    <!-- Dropdown menu links -->
                                    <a class="dropdown-item" href="#">Mi Cuenta</a>
                                    <a class="dropdown-item" href="#">Ayuda</a>
                                    <a class="dropdown-item" href="#">Cerrar sesión</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
