<!--Header section-->
<header class="header-main-menu">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark ">

            <a class="navbar-brand logo-name" href="../main_menu/main-menu">Fissure Detector</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <div class="btn-group">
                            <div class="btn-group dropleft">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Menú
                                </button>
                                <div class="dropdown-menu">
                                    <!-- Dropdown menu links -->
                                    <a class="dropdown-item" href="../main_menu/main-menu">Menú principal</a>
                                    <a class="dropdown-item" href="../upload_images/images-menu">Subir Imágenes</a>
                                    <a class="dropdown-item" href="../fill_report/report-menu">Llenar Reporte</a>
                                    <a class="dropdown-item" href="../change_report/change-menu">Modificar Reporte</a>
                                    <a class="dropdown-item" href="../imprimir/tabla-reportes-finalizados">Imprimir Reporte</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="btn-group">
                            <div class="btn-group dropleft">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    ¡Hola, Usuario!
                                </button>
                                <div class="dropdown-menu">
                                    <!-- Dropdown menu links -->
                                    <a class="dropdown-item" href="#">Mi Cuenta</a>
                                    <form action="/main/salir" method="POST">
                                        <button type="submit" class="btn btn-form">Cerrar sesión</button>
                                        <!-- <a class="dropdown-item" href="/salir">Cerrar sesión</a> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
