<!--Section-->
<section class="form-container">

    <div class="container-fluid frame-form">
        <h1><%= formTitle%></h1>
        <h2>Forma de Inspección Postsísmica</h2>
        <h2>Evaluación rápida</h2>
        <form>
            <!-- Información general -->
            <div class="row">
                <div class="form-group col-md-9">
                    <label for="input-name">Nombre del evaluador técnico</label>
                    <input name="nombres" type="text" class="form-control" id="input-name" placeholder="Llenado automáicamente"
                           disabled>
                </div>
                <div class="form-group col-md-3">
                    <label for="input-name">Ticket No.</label>
                    <input name="nu" type="text" class="form-control" id="ticket-number"
                           placeholder="Generado automáticamente" disabled>
                </div>
                <div class="form-group col-md-9">
                    <label for="input-name">Profesión</label>
                    <input type="text" class="form-control" id="dro-degree" placeholder="Llenado automáticamente"
                           disabled>
                </div>
                <div class="form-group col-md-3">
                    <label for="input-name">Fecha</label>
                    <input type="text" class="form-control" id="date" placeholder="Llenado automáticamente"
                           disabled>
                </div>
            </div>
            <!-- Fin información general -->

            <!-- Ubicación y descripción de la edificación -->
            <div class="row">
                <h3>1. Ubicación y Descripción de la Edificación</h3>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="input-earthquake-zone">Zonificación propuesta de la ciudad para la
                            evaluación</label>
                        <select id="input-earthquake-zone" class="form-control">
                            <option disabled>Tipo de zona</option>
                            <option value="0">Zona I</option>
                            <option value="1">Zona II</option>
                            <option value="2">Zona IIIa</option>
                            <option value="3">Zona IIIb</option>
                            <option value="4">Zona IIIc</option>
                            <option value="5">Zona IIId</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="input-street">Dirección</label>
                        <input type="text" class="form-control" id="input-street"
                               placeholder="Llenado automáticamente" disabled>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="input-ngh">Colonia</label>
                        <input type="text" class="form-control" id="input-ngh" placeholder="Llenado automáticamente"
                               disabled>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="input-alcaldia">Alcaldía</label>
                        <input type="text" class="form-control" id="input-alcaldia"
                               placeholder="Llenado automáticamente" disabled>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                        <div>
                            <label for="input-cp">CP</label>
                            <input type="text" class="form-control" id="input-cp"
                                   placeholder="Llenado automáticamente" disabled>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                        <div>
                            <label for="input-owner">Persona contactada</label>
                            <input type="text" class="form-control" id="input-owner">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 form-group">
                        <div>
                            <label for="input-owner-phone">Teléfono</label>
                            <input type="text" class="form-control" id="input-owner-phone">
                        </div>
                    </div>
                </div>

            </div>
            <!-- Fin ubicación y descripción de la edificación -->

            <!-- Uso del inmueble -->
            <div class="row">
                <h4>Uso del inmueble</h4>
                <!-- Tipos de uso -->
                <div class="row col-12">
                    <div class="form-group comboBox col-md-6 col-sm-12">
                        <label for="usoInmueble">Uso del inmueble</label>
                        <select class="form-control" id="usoInmueble">
                            <option value="0" selected>Casa habitación</option>
                            <option value="1">Departamentos</option>
                            <option value="2">Comercios</option>
                            <option value="3">Oficinas públicas</option>
                            <option value="4">Oficinas privadas</option>
                            <option value="5">Industrias</option>
                            <option value="6">Estacionamiento</option>
                            <option value="7">Bodegas</option>
                            <option value="8">Educación</option>
                            <option value="9">Recreativo</option>
                            <option value="10">Centro de reunión</option>
                            <option value="11">Otro</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label for="input-num-levels">Número de niveles sobre el terreno (incluyendo azotea y
                            mezanines): </label>
                        <input type="number" min="0" value="0" class="form-control" id="input-num-levels">
                    </div>
                </div>


                <div class="row col-12">
                    <div class="col-6">
                        <label for="input-sotanos">Número de sótanos: </label>
                        <input type="number" min="0" max="67" value="0" class="form-control" id="input-sotanos">
                    </div>
                    <div class="col-6">
                        <label for="input-ocupantes">Número de ocupantes: </label>
                        <input type="number" min="0" value="0" class="form-control" id="input-ocupantes">
                    </div>
                </div>
            </div>
            <!-- Fin uso del inmueble -->

            <!-- Tipo de inspección -->
            <div class="row">
                <h4>Tipo de inspección</h4>
                <div class="col-12">
                    <div class="form-check form-check-inline">
                        <input type="radio" name="tipoInspeccion" id="radio-exterior" value="option1" checked>
                        <label for="radio-exterior">Inspección exterior únicamente</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="tipoInspeccion" id="radio-interior" value="option2">
                        <label for="radio-interior">Inspección interior y exterior</label>
                    </div>
                </div>
            </div>
            <!-- Fin tipo de inspección -->

            <!-- Estado de la edificación -->
            <div class="row">
                <h3>2. Estado de la edificación</h3>
                <ul class="list-group container-fluid">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6">Derrumbe total</div>
                            <div class="col-lg-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="derrumbeTotal"
                                           id="siDerrumbeTotal" value="1">
                                    <label class="form-check-label" for="siDerrumbeTotal">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="derrumbeTotal"
                                           id="noDerrumbeTotal" value="0">
                                    <label class="form-check-label" for="noDerrumbeTotal">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="derrumbeTotal"
                                           id="dudasDerrumbeTotal" value="-1">
                                    <label class="form-check-label" for="dudasDerrumbeTotal">Existen dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Derrumbe parcial</div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="derrumbeParcial"
                                           id="siDerrumbeParcial" value="1">
                                    <label class="form-check-label" for="siDerrumbeParcial">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="derrumbeParcial"
                                           id="noDerrumbeParcial" value="0">
                                    <label class="form-check-label" for="noDerrumbeParcial">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="derrumbeParcial"
                                           id="dudasDerrumbeParcial" value="-1">
                                    <label class="form-check-label" for="dudasDerrumbeParcial">Existen dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Edificación separada de su cimentación</div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="separacionCimentacion"
                                           id="siSeparacionCimentacion" value="1">
                                    <label class="form-check-label" for="siSeparacionCimentacion">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="separacionCimentacion"
                                           id="noSeparacionCimentacion" value="0">
                                    <label class="form-check-label" for="noSeparacionCimentacion">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="separacionCimentacion"
                                           id="dudasSeparacionCimentacion" value="-1">
                                    <label class="form-check-label" for="dudasSeparacionCimentacion">Existen
                                        dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Asentamiento diferencial o hundimiento</div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="asentamientoDiferencial"
                                           id="siAsentamientoDiferencial" value="1">
                                    <label class="form-check-label" for="siAsentamientoDiferencial">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="asentamientoDiferencial"
                                           id="noAsentamientoDiferencial" value="0">
                                    <label class="form-check-label" for="noAsentamientoDiferencial">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="asentamientoDiferencial"
                                           id="dudasAsentamientoDiferencial" value="-1">
                                    <label class="form-check-label" for="dudasAsentamientoDiferencial">Existen
                                        dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Inclinación notoria de la edificación o de algún
                                entrepiso</div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inclinacion"
                                           id="siInclinacion" value="1">
                                    <label class="form-check-label" for="siInclinacion">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inclinacion"
                                           id="noInclinacion" value="0">
                                    <label class="form-check-label" for="noInclinacion">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inclinacion"
                                           id="dudasInclinacion" value="-1">
                                    <label class="form-check-label" for="dudasInclinacion">Existen dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Daños en elementos estructurales (columnas, vigas,
                                muros)</div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosEstructurales"
                                           id="siDañosEstructurales" value="1">
                                    <label class="form-check-label" for="siDañosEstructurales">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosEstructurales"
                                           id="noDañosEstructurales" value="0">
                                    <label class="form-check-label" for="noDañosEstructurales">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosEstructurales"
                                           id="dudasDañosEstructurales" value="-1">
                                    <label class="form-check-label" for="dudasDañosEstructurales">Existen
                                        dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Daños en elementos no estructurales</div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosNoEstructurales"
                                           id="siDañosNoEstructurales" value="1">
                                    <label class="form-check-label" for="siDañosNoEstructurales">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosNoEstructurales"
                                           id="noDañosNoEstructurales" value="0">
                                    <label class="form-check-label" for="noDañosNoEstructurales">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosNoEstructurales"
                                           id="dudasDañosNoEstructurales" value="-1">
                                    <label class="form-check-label" for="dudasDañosNoEstructurales">Existen
                                        dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Daños en instalaciones eléctricas</div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosElectricos"
                                           id="siDañosElectricos" value="1">
                                    <label class="form-check-label" for="siDañosElectricos">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosElectricos"
                                           id="noDañosElectricos" value="0">
                                    <label class="form-check-label" for="noDañosElectricos">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosElectricos"
                                           id="dudasDañosElectricos" value="-1">
                                    <label class="form-check-label" for="dudasDañosElectricos">Existen dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Daños en instalaciones hidrosanitarias</div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosHidrosanitarias"
                                           id="siDañosHidrosanitarias" value="1">
                                    <label class="form-check-label" for="siDañosHidrosanitarias">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosHidrosanitarias"
                                           id="noDañosHidrosanitarias" value="0">
                                    <label class="form-check-label" for="noDañosHidrosanitarias">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosHidrosanitarias"
                                           id="dudasDañosHidrosanitarias" value="-1">
                                    <label class="form-check-label" for="dudasDañosHidrosanitarias">Existen
                                        dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Daños en instalaciones de gas</div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosGas" id="siDañosGas"
                                           value="1">
                                    <label class="form-check-label" for="siDañosGas">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosGas" id="noDañosGas"
                                           value="0">
                                    <label class="form-check-label" for="noDañosGas">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dañosGas" id="dudasDañosGas"
                                           value="-1">
                                    <label class="form-check-label" for="dudasDañosGas">Existen dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Grietas, movimiento del suelo</div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="grietasSuelo"
                                           id="siGrietasSuelo" value="1">
                                    <label class="form-check-label" for="siGrietasSuelo">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="grietasSuelo"
                                           id="noGrietasSuelo" value="0">
                                    <label class="form-check-label" for="noGrietasSuelo">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="grietasSuelo"
                                           id="dudasGrietasSuelo" value="-1">
                                    <label class="form-check-label" for="dudasGrietasSuelo">Existen dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Deslizamiento de talud o corte</div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="deslizamientoTalud"
                                           id="siDeslizamientoTalud" value="1">
                                    <label class="form-check-label" for="siDeslizamientoTalud">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="deslizamientoTalud"
                                           id="noDeslizamientoTalud" value="0">
                                    <label class="form-check-label" for="noDeslizamientoTalud">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="deslizamientoTalud"
                                           id="dudasDeslizamientoTalud" value="-1">
                                    <label class="form-check-label" for="dudasDeslizamientoTalud">Existen
                                        dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Pretiles, balcones u otros objetos en peligro de caer
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="objetosPeligroCaer"
                                           id="siObjetosPeligroCaer" value="1">
                                    <label class="form-check-label" for="siObjetosPeligroCaer">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="objetosPeligroCaer"
                                           id="noObjetosPeligroCaer" value="0">
                                    <label class="form-check-label" for="noObjetosPeligroCaer">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="objetosPeligroCaer"
                                           id="dudasObjetosPeligroCaer" value="-1">
                                    <label class="form-check-label" for="dudasObjetosPeligroCaer">Existen
                                        dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Otros peligros (líneas o ductos rotos, derrames tóxicos,
                                etc.
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="otrosPeligros"
                                           id="siOtrosPeligros" value="1">
                                    <label class="form-check-label" for="siOtrosPeligros">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="otrosPeligros"
                                           id="noOtrosPeligros" value="0">
                                    <label class="form-check-label" for="noOtrosPeligros">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="otrosPeligros"
                                           id="dudasOtrosPeligros" value="-1">
                                    <label class="form-check-label" for="dudasOtrosPeligros">Existen dudas</label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <!-- Fin estado de la edificación -->

            <div class="row btn-container">
                <div class="col-md-6 col-6">
                    <a href="<%= salir%>" class="btn btn-form">Regresar</a>
                </div>
                <div class="col-md-6 col-6">
                    <a href="<%= enviar%>" class="btn btn-form">Enviar</a>
                </div>
            </div>
        </form>
    </div>
</section>
<!--Fin section-->