<!-- Section -->
<section class="form-container">
    <h2>Seleccionar el reporte a <%= selectTitle%></h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">No. de Ticket</th>
                <th scope="col">Fecha de ingreso</th>
                <th scope="col">Resumen reporte</th>
                <th scope="col">Dictamen preliminar</th>
                <th scope="col">Validar</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>04/10/2019</td>
                <td><a href="./summary-form" class="btn btn-form">Ver resumen</a></td>
                <td>Edificación y/o Área Segura<br>Riesgo Bajo</td>
                <td><a href="./finish-validation" class="btn btn-form">Validar</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>03/10/2019</td>
                <td><a href="./summary-form" class="btn btn-form">Ver resumen</a></td>
                <td>Edificación y/o Área Segura<br>Riesgo Bajo</td>
                <td><a href="./finish-validation" class="btn btn-form">Validar</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>03/10/2019</td>
                <td><a href="./summary-form" class="btn btn-form">Ver resumen</a></td>
                <td>Edificación y/o Área Segura<br>Riesgo Bajo</td>
                <td><a href="./finish-validation" class="btn btn-form">Validar</a></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>02/10/2019</td>
                <td><a href="./summary-form" class="btn btn-form">Ver resumen</a></td>
                <td>Edificación y/o Área Segura<br>Riesgo Bajo</td>
                <td><a href="./finish-validation" class="btn btn-form">Validar</a></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>01/10/2019</td>
                <td><a href="./summary-form" class="btn btn-form">Ver resumen</a></td>
                <td>Edificación y/o Área Segura<br>Riesgo Bajo</td>
                <td><a href="./finish-validation" class="btn btn-form">Validar</a></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>30/09/2019</td>
                <td><a href="./summary-form" class="btn btn-form">Ver resumen</a></td>
                <td>Edificación y/o Área Segura<br>Riesgo Bajo</td>
                <td><a href="./finish-validation" class="btn btn-form">Validar</a></td>
            </tr>

            </tbody>
        </table>

        <div class="row btn-container">
            <div class="col-12">
                <a href="<%= regresar%>" class="btn btn-form">Regresar</a>
            </div>
        </div>
    </div>
</section>