<!--Section-->
<section class="form-container">
    <div class="container-fluid frame-form"><br>
        <h3>Datos registrados</h3>
        <form>
            <div class="form-row">
                <h4>Datos generales</h4>
                <div class="form-group col-md-12">
                    <p><span class="datos-imagenes">Nombre del Evaluador Técnico:</span> ApellidoPa ApellidoMa
                        Nombre(s)</p>
                </div>
                <div class="form-group col-md-12">
                    <p><span class="datos-imagenes">Profesión:</span>Ingeniero/Arquitecto</p>
                </div>
                <div class="form-group col-md-12">
                    <p><span class="datos-imagenes">Fecha:</span>dd/mm/aaaa</p>
                </div>
            </div>
            <div class="form-row">
                <h4>1. Ubicación y Descripción de la Edificación</h4>
                <div class="form-group col-md-12">
                    <p><span class="datos-imagenes">Zonificación propuesta de la ciudad para efectuar la
                                evaluación:</span> Zona(I/II/IIIa/IIIb/IIIc)</p>
                </div>
                <div class="form-group col-md-12">
                    <p><span class="datos-imagenes">Dirección:</span> Calle #Num, Colonia, Alcaldía,
                        Ciudad, CP</p>
                </div>
                <div class="form-group col-md-12">
                    <p><span class="datos-imagenes">Persona contactada:</span> ApellidoPa ApellidoMa
                        Nombre(s)</p>
                    <p><span class="datos-imagenes">Teléfono:</span> 1234567890</p>
                </div>
            </div>
            <div class="form-row">
                <h4>Uso del inmueble</h4>
                <div class="form-group col-md-12">
                    <p><span class="datos-imagenes">Uso del Inmueble:</span> usoDelInmueble</p>
                </div>
                <div class="form-group col-md-12">
                    <p><span class="datos-imagenes">Número de niveles sobre el terreno:</span> numNiveles</p>
                </div>
                <div class="form-group col-md-12">
                    <p><span class="datos-imagenes">Número de sótanos:</span> numSotanos</p>
                </div>
                <div class="form-group col-md-12">
                    <p><span class="datos-imagenes">Número de ocupantes:</span> numOcupantes</p>
                </div>
            </div>
            <div class="form-row">
                <h4>Tipo de inspección</h4>
                <div class="form-group col-md-12">
                    <p><span class="datos-imagenes">Tipo de inspección:</span> Exterior, exterior/interior</p>
                </div>
            </div>
            <div class="form-row">
                <h4>2. Estado de la Edificación</h4>
                <ul class="list-group container-fluid">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Derrumbe total</div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Derrumbe parcial</div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Edificación separada de su cimentación</div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Asentamiento diferencial o hundimiento</div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Inclinación notoria de la edificación o de algún
                                entrepiso
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Daños en elementos estructurales (columnas, vigas,
                                muros)
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Daños en elementos no estructurales</div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Daños en instalaciones eléctricas</div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Daños en instalaciones hidrosanitarias</div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Daños en instalaciones de gas</div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Grietas, movimiento del suelo</div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Deslizamiento de talud o corte</div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Pretiles, balcones u otros objetos en peligro de caer
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">Otros peligros (líneas o ductos rotos, derrames tóxicos,
                                etc.
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Sí/No/Existen Dudas</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row btn-container">
                <div class="col-md-6 col-6">
                    <a href="<%= regresar%>>" class="btn btn-form">Regresar</a>
                </div>
                <div class="col-md-6 col-6">
                    <a href="<%= aceptar%>" class="btn btn-form">Aceptar</a>
                </div>
            </div>
        </form>
    </div>
</section>