<%- include('../includes/head.ejs')%>
<body>
<!--Header section-->
<%- include('../includes/header-main-menu.ejs')%>

<!--Section-->
<section class="form-container">
    <div class="frame-form"><br>
        <h3>¡Reporte registrado!</h3>
        <form>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <p>El reporte ha sido llenado y subido a la plataforma correctamente.</p>
                </div>
            </div>
            <div class="row btn-container">
                <div class="col-lg-12">
                    <a href="../main_menu/main-menu" class="btn btn-form">Ir al menú</a>
                </div>
            </div>
        </form>
    </div>
</section>