<%- include('../includes/head.ejs')%>
<body>
<!--Header section-->
<%- include('../includes/header-main-menu.ejs')%>

<!--    Section-->
<section class="cards">
    <div class="container-fluid row">
        <!-- Llenar formulario -->
        <div class="column-cards col-lg-4 col-md-6">
            <div class="card">
                <div class="card-head">
                    <span class="icon-style">
                        <a href="./seleccionar-edificacion" class="card-link">
                            <i class="fas fa-file-alt"></i>
                        </a>
                    </span>
                </div>
<!--                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">-->
                <div class="card-body">
                    <h5 class="card-title">Llenar formulario</h5>
                    <p class="card-text">Ingresar datos de inspección postsísmica. Validar dictamen preliminar.</p>
                    <a href="./seleccionar-edificacion" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>
        <!-- Fin llenar formulario -->

        <!-- Continuar llenado -->
        <div class="column-cards col-lg-4 col-md-6">
            <div class="card">
                <div class="card-head">
                    <span class="icon-style">
                        <a href="./seleccionar-edificacion-continuar" class="card-link">
                            <i class="far fa-file-alt"></i>
                        </a>
                    </span>
                </div>
<!--                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">-->
                <div class="card-body">
                    <h5 class="card-title">Continuar llenado</h5>
                    <p class="card-text">Contiuar con el llenado de un formato pendiente.</p>
                    <a href="./seleccionar-edificacion-continuar" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>

<!--        Dar dictamen-->
        <div class="column-cards col-lg-4 col-md-6">
            <div class="card">
                <div class="card-head">
                    <span class="icon-style">
                        <a href="./validate-report" class="card-link">
                            <i class="fas fa-file-contract"></i>
                        </a>
                    </span>
                </div>
<!--                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">-->
                <div class="card-body">
                    <h5 class="card-title">Dar dictamen final</h5>
                    <p class="card-text">Validar dictamen final de una edificación pendiente.</p>
                    <a href="./validate-report" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>
<!--        Fin dar dictamen-->
    </div>

    <!-- Botón regresar al main -->
    <div class="row btn-container">
        <div class="col-12">
            <a href="../main_menu/main-menu" class="btn btn-form">Regresar</a>
        </div>
    </div>
    <!-- Fin botón regresar -->
</section>
<!--Fin section-->

<%- include('../includes/end.ejs') %>