<%- include('includes/head.ejs')%>
<body>


<div id="notfound">
    <div class="notfound">
        <div class="notfound-bg">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <h1>oops!</h1>
        <h2>Error 404 : Página no encontrada</h2>
        <a class="btn btn-card" href="/">regresar</a>
    </div>
</div>
