<%- include('../includes/head.ejs')%>
<body>
<!--Header section-->
<%- include('../includes/header-main-menu.ejs')%>

<!--Section-->
<section class="cards">
    <div class="container-fluid row">
        <div class="column-cards col-lg-4 col-md-6">
            <div class="card">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">
                <div class="card-body">
                    <h5 class="card-title">Subir imágenes</h5>
                    <p class="card-text">Análisis de imágenes.</p>
                    <a href="../upload_images/images-menu" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>
        <div class="column-cards col-lg-4 col-md-6">
            <div class="card">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">
                <div class="card-body">
                    <h5 class="card-title">Llenar reporte</h5>
                    <p class="card-text">Llenar o continuar edición de un reporte.</p>
                    <a href="../fill_report/report-menu" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>
        <div class="column-cards col-lg-4 col-md-6">
            <div class="card">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">
                <div class="card-body">
                    <h5 class="card-title">Modificar reporte</h5>
                    <p class="card-text">Cambiar datos y/o dictamen.</p>
                    <a href="../change_report/change-menu" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>
        <div class="column-cards col-lg-4 col-md-6">
            <div class="card">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">
                <div class="card-body">
                    <h5 class="card-title">Mi cuenta</h5>
                    <p class="card-text">Ver y modificar mis datos.</p>
                    <a href="account/my-account-menu" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>
        <div class="column-cards col-lg-4 col-md-6">
            <div class="card">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">
                <div class="card-body">
                    <h5 class="card-title">Ayuda</h5>
                    <p class="card-text">Cómo usar la plataforma.</p>
                    <a href="help/tutorial-menu" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Fin section-->

<!--Footer section-->
