<%- include('../includes/head.ejs')%>
<body>
<!--Header section-->
<%- include('../includes/header-main-menu.ejs')%>

<!--Section-->
<section class="cards">
        <h1>¡Hola, usuario!</h1>
    <div class="container-fluid row">
        <div class="column-cards col-lg-6 col-md-6">
            <div class="card">
                <div class="card-head">
                    <span class="icon-style">
                        <a href="../upload_images/info-edificio" class="card-link">
                            <i class="fas fa-building"></i>
                        </a>
                    </span>
                </div>
<!--                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">-->
                <div class="card-body">
                    <h5 class="card-title">Analizar edificación</h5>
                    <p class="card-text">Analizar grietas de una estructura dañada.</p>
                    <a href="../upload_images/info-edificio" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>
        <div class="column-cards col-lg-6 col-md-6">
            <div class="card">
                <div class="card-head">
                    <span class="icon-style">
                        <a href="../fill_report/report-menu" class="card-link">
                            <i class="fas fa-file-upload"></i>
                        </a>
                    </span>
                </div>
<!--                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">-->
                <div class="card-body">
                    <h5 class="card-title">Generar reporte y/o dictamen</h5>
                    <p class="card-text">Llenar o continuar edición de un reporte. Generar un dictamen final.</p>
                    <a href="../fill_report/report-menu" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>
        <div class="column-cards col-lg-6 col-md-6">
            <div class="card">
                <div class="card-head">
                    <span class="icon-style">
                        <a href="../change_report/change-menu" class="card-link">
                            <i class="fas fa-file-signature"></i>
                        </a>
                    </span>
                </div>
<!--                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">-->
                <div class="card-body">
                    <h5 class="card-title">Modificar reporte y/o dictamen</h5>
                    <p class="card-text">Cambiar datos y/o dictamen.</p>
                    <a href="../change_report/change-menu" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>
        <div class="column-cards col-lg-6 col-md-6">
            <div class="card">
                <div class="card-head">
                    <span class="icon-style">
                        <a href="../account/account-menu" class="card-link">
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </span>
                </div>
<!--                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">-->
                <div class="card-body">
                    <h5 class="card-title">Mi cuenta</h5>
                    <p class="card-text">Ver y modificar mis datos.</p>
                    <a href="../account/account-menu" class="btn btn-lg btn-block btn-card">Ir</a>
                </div>
            </div>
        </div>
<!--        <div class="column-cards col-lg-6 col-md-6">-->
<!--            <div class="card">-->
<!--                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="img">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Ayuda</h5>-->
<!--                    <p class="card-text">Cómo usar la plataforma.</p>-->
<!--                    <a href="help/tutorial-menu" class="btn btn-lg btn-block btn-card">Ir</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</section>
<!--Fin section-->

<!--Footer section-->
<%- include('../includes/footer.ejs')%>