<%- include('../includes/head.ejs')%>
<body>
<!--Header section-->
<%- include('../includes/header.ejs')%>

<!-- Section -->
<section class="container-fluid row">
    <!-- Qué es -->
    <article>
        <h1>¿Qué es Fissure Detector?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quasi provident dolor veritatis ex,
            voluptate error facilis labore atque nostrum ad enim soluta nihil. Tenetur est similique dolore iure
            necessitatibus!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, praesentium possimus ullam eveniet
            ratione laudantium mollitia modi tempore ex harum beatae? Corrupti ipsam minima sunt dignissimos,
            accusantium earum ratione odio.</p>
    </article>
    <!-- Fin que es -->

    <!-- De que se compone -->
    <section class="about">
        <h2>¿De qué se compone?</h2>
        <article class="col-lg-12 box" id="drones">
            <img class="img-fluid" src="../img/drone.svg" alt="Imagen dron">
            <h3>Vuelo de drónes</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quis. Voluptate aut ipsam
                voluptatem
                aliquid aperiam ad, numquam quas amet, esse, accusamus cum itaque architecto voluptatum non nihil.
                Libero, vel.
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, nostrum dolore. Delectus quae
                mollitia laudantium sunt aut, eligendi asperiores, est fugit sapiente voluptatibus accusantium? Odio
                optio voluptate reprehenderit. Laudantium, aliquid?</p>
        </article>
        <article class="col-lg-12 box" id="analisis">
            <img class="img-fluid" src="../img/imagenes.png" alt="Imagen imegenes">
            <h3>Análisis de imágenes</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quis. Voluptate aut ipsam
                voluptatem
                aliquid aperiam ad, numquam quas amet, esse, accusamus cum itaque architecto voluptatum non nihil.
                Libero, vel.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est ullam ipsam a ducimus officia fugit
                animi labore assumenda cupiditate. Eos reiciendis, veniam rem quod ratione sint atque modi maxime
                culpa.</p>
        </article>
        <article class="col-lg-12 box" id="revision">
            <img class="img-fluid" src="../img/verificar.png" alt="Imagen verificar">
            <h3>Revisión de daños</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quis. Voluptate aut ipsam
                voluptatem
                aliquid aperiam ad, numquam quas amet, esse, accusamus cum itaque architecto voluptatum non nihil.
                Libero, vel.
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro iusto iure perspiciatis dolores
                voluptatum, deleniti corporis eum vel atque delectus numquam nam recusandae itaque. Beatae, nobis!
                Iusto, vero. Dolores, illo!</p>
        </article>

        <article class="col-lg-12 box" id="reporte">
            <img class="img-fluid" src="../img/reporte.png" alt="Imagen reporte">
            <h3>Reporte final</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quis. Voluptate aut ipsam
                voluptatem
                aliquid aperiam ad, numquam quas amet, esse, accusamus cum itaque architecto voluptatum non nihil.
                Libero, vel.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officiis optio quo beatae modi
                harum quos? Tempore, eaque suscipit! Voluptatibus, nostrum dignissimos atque commodi neque
                architecto inventore veniam quae omnis.</p>
        </article>
    </section>
    <!-- Fin de que se compone -->
</section>
<!-- Fin section -->

<!--Footer section-->
<%- include('../includes/footer.ejs')%>