<%- include('../includes/head.ejs') %>
<body>
<!--Header section-->
<%- include('../includes/header.ejs') %>

<!-- Section -->
<section class="container-fluid row">
    <!-- Qué es -->
    <article>
        <h1>¿Qué es Fissure Detector?</h1>
        <p>Fissure Detector es un sistema web que hace uso del análisis de imágenes para la detección de daños
            estructurales en edificaciones dañadas después de un sismo.</p>

        <p>Por medio del uso de drones y personal capacitado para su maniobra y vuelo en zonas de desastre, Fissure
            Detector sirve como un sistema de apoyo para que el Director Responsable de Obra (DRO) pueda ofrecer
            dictámenes más rápidos y seguros para el DRO.</p>
    </article>
    <!-- Fin que es -->

    <!-- De que se compone -->
    <section class="about">
        <h2>¿De qué se compone?</h2>
        <article class="col-lg-12 box" id="drones">
            <img class="img-fluid" src="../img/drone.svg" alt="Imagen dron">
            <h3>Vuelo de drónes</h3>
            <p>Se ahorra tiempo al realizar la inspección de un inmueble utilizando el drón <a
                        href="https://www.parrot.com/es/drones/parrot-bebop-2" target="_blank">Parrot Bebop 2</a> con su
                pilotaje accesible.</p>
            <p>Permite visualizar edificaciones con altura de hasta 150 metros. La autonomía de hasta 25 minutos del
                drón y la calidad de imagen de la cámara lo hacen una excelente opción frente a otros modelos en el
                mercado.</p>
        </article>
        <article class="col-lg-12 box" id="analisis">
            <img class="img-fluid" src="../img/imagenes.png" alt="Imagen imegenes">
            <h3>Análisis de imágenes</h3>

            <p>La imagenes obtenidas a través del drón se procesan para identificar las grietas que representen posibles
                daños
                estructurales en un inmueble.</p>
            <p>El desarrollo de algoritmo de detección de grietas permite general un dictamen preliminar que debe ser
                avalado pro el DRO.</p>
        </article>
        <article class="col-lg-12 box" id="revision">
            <img class="img-fluid" src="../img/verificar.png" alt="Imagen verificar">
            <h3>Revisión de daños</h3>

            <p>Durante la inspección de un inmueble, captura los posibles daños identificados en el edificio para
                realizar su evaluación y determinar
                el grado de riesgo que representan para el estado de la estructura inspeccionada.
            </p>
            <p>Los algoritmos detrás de Fissure Detector y el uso del drón servirán para apoyar al DRO en la evaluación del inmueble sin poner en riesgo su vida. Además agiliza el proceso de generación del dictamen final de la edificación.</p>
        </article>

        <article class="col-lg-12 box" id="reporte">
            <img class="img-fluid" src="../img/reporte.png" alt="Imagen reporte">
            <h3>Reporte final</h3>

            <p>Para finalizar el proceso de evaluación de un inmueble, recibe el estado de daños en el Formato de
                Inspección Postsísmica, el cual arroja un
                resultado parcial de la evaluación respaldado por el procesamiento de las imagenes implementado en el
                sistema.
            </p>
            <p>El DRO debe validar el resultado o modificarlo según su experiencia y siempre siguiendo las normas de construcción vigentes en la Ciudad de México.</p>
        </article>
    </section>
    <!-- Fin de que se compone -->
</section>
<!-- Fin section -->

<!--Footer section-->
<%- include('../includes/footer.ejs') %>