<%- include('../includes/head.ejs')%>
<body>
<!--Header section-->
<%- include('../includes/header.ejs')%>


<!--Form section-->

<section class="form-container">
    <% errores.forEach((mensaje) => { %>
        <div class="alert alert-danger text-center"><%= mensaje %></div>
    <% }) %>
    <div class="container-fluid">
        <h2>Ingreso</h2>
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#login">Ingresar</a>
            </li>
            <li class="nav-item" id="recuperar">
                <a class="nav-link" data-toggle="tab" href="#recover-pass">Recuperar contraseña</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Ingresar -->
            <div id="login" class="container-fluid tab-pane active"><br>
                <h3>Ingresar</h3>
                <form action="/main/login-post" method ="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="valid-email">Correo</label>
                            <input name="correo" type="email" class="form-control" id="valid-email" placeholder="Ingresar correo" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="valid-password">Contraseña</label>
                            <input name="password" type="password" class="form-control" id="valid-password" placeholder="Ingresar contraseña" required>
                        </div>
                    </div>
                    <div class="btn-container">
                            <button type="submit" class="btn btn-form">Entrar</button>
                    </div>
                </form>
            </div>
            <!-- Fin ingresar -->

            <!-- Recuperar contraseña -->
            <div id="recover-pass" class="container-fluid tab-pane fade"><br>
                <h3>Recuperar contraseña</h3>
                <form action="/main/login-post" method ="POST">
                    <div class="form-group">
                        <label for="email-recover">Correo registrado</label>
                        <input name="correo" type="email" class="form-control" id="email-recover" aria-describedby="emailHelp" placeholder="Ingresar correo registrado">
                        <small id="emailHelp" class="form-text text-muted">Se enviará un enlace para recuperar contraseña al correo ingresado</small>
                    </div>
                    <div class="btn-container">
                        <a href="../register/password" class="btn btn-form">Enviar correo</a>
                    </div>
                </form>
            </div>
            <!-- Fin recuperar contraseña -->
        </div>
    </div>
</section>

<!--Footer section-->
<%- include('../includes/footer.ejs')%>