<%- include('../includes/head.ejs') %>
<body>
<!--Header section-->
<%- include('../includes/header-main-menu.ejs') %>


<section class="form-container">
    <div class="frame-form"><br>
        <h2>¡Imágenes enviadas!</h2>
        <div class="form-row">
            <div class="form-group col-md-12">
                <p>Las imágenes han sido enviadas exitosamente.</p>
            </div>
        </div>
        <div class="row btn-container">
            <div class="col-lg-12">
                <a href="../main_menu/main-menu" class="btn btn-form">Regresar al menú</a>
            </div>
        </div>
    </div>
</section>