<%- include('../includes/head.ejs')%>
<body>
<!--Header section-->
<%- include('../includes/header-main-menu.ejs')%>

<!--Image data section-->
<section class="form-container">
    <div class="container-fluid frame-form">
        <h3>Datos de la imagen</h3>
        <form>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="input-name">Nombre(s) del DRO</label>
                    <input type="text" class="form-control" id="input-name" placeholder="Nombre del DRO">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="inputAddress">Dirección</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Mirasol, 10">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="colonia">Colonia</label>
                        <input type="text" class="form-control" id="colonia" placeholder="Las Flores">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="inputAddress2">Alcaldía</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Xochimilco">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-9">
                    <label for="inputCity">Ciudad</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Ciudad de México">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="grietaEdificio">Localización de la grieta en el edificio</label>
                    <select id="grietaEdificio" class="form-control">
                        <option selected>Elegir</option>
                        <option>...</option>
                        <option>...</option>
                        <option>...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label for="inputState">Tipo de estructura</label>
                    <select id="inputState" class="form-control">
                        <option selected>Elegir</option>
                        <option>Casa habitación</option>
                        <option>Escuela</option>
                        <option>Oficina de gobierno</option>
                        <option>Fábrica</option>
                    </select>
                </div>
            </div>

            <div class="row btn-container">
                <div class="col-md-6 col-6">
                    <a href="./images-menu" class="btn btn-form">Regresar</a>
                </div>
                <div class="col-md-6 col-6">
                    <a href="./images-summary" class="btn btn-form">Enviar</a>
                </div>
            </div>
        </form>
    </div>
</section>