<%- include('../includes/head.ejs') %>
<body>
<!--Header section-->
<%- include('../includes/header-main-menu.ejs') %>

<!--    Section-->
<section class="form-container">
    <div class="container-fluid frame-form">
        <h2 class="titulo-area">Subir imágenes de las grietas y completar información</h2>
        <form action="/upload_images/info-areas-post" method="POST">
            <h3>Área 1</h3>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="nombre-area-1">Nombre del área</span>
                </div>
                <input name="nombre_area" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="nombre-area-1" placeholder="Área 1">
            </div>
            <div class="row area container-fluid">
                <div class="form-group col-lg-6">
                    <label for="file-chooser-1"><span class="datos-imagenes">Seleccionar imagen</span></label>
                    <label for="file-chooser-1" class="icon-style arrow"><i class="fas fa-arrow-up"></i></label>
                    <input name="imagen" type="file" id="file-chooser-1" accept="image/png, image/jpeg" style="display: none;">
                </div>
                <div class="form-group col-lg-6">
                    <label for="grietaEdificio">Tipo de elemento estructural horizontal</label>
                    <select name= "tipo_elemento" id="grietaEdificio" class="form-control">
                        <option value="0" selected>Elegir</option>
                        <option value="1">Muro</option>
                        <option value="2">Pilar o columna</option>
                    </select>
                </div>
            </div>
            <div class="row btn-container">
                <div class="col-12">
                    <input type="submit" value="Aceptar" class="btn btn-form">
                </div>
            </div>
            <hr>
        </form>
        <form action="/upload_images/info-areas-post" method="POST">
            <h3>Área 2</h3>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="nombre-area-2">Nombre del área</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="nombre-area-2" placeholder="Área 2">
            </div>
            <div class="row area container-fluid">
                <div class="form-group col-lg-6">
                    <label for="file-chooser-2"><span class="datos-imagenes">Seleccionar imagen   </span></label>
                    <label for="file-chooser-2" class="icon-style arrow"><i class="fas fa-arrow-up"></i></label>
                    <input type="file" id="file-chooser-2" accept="image/png, image/jpeg" style="display: none;">
                </div>
                <div class="form-group col-lg-6">
                    <label for="grietaEdificio">Tipo de elemento estructural horizontal</label>
                    <select id="grietaEdificio" class="form-control">
                        <option value="0" selected>Elegir</option>
                        <option value="1">Muro</option>
                        <option value="2">Pilar o columna</option>
                    </select>
                </div>
            </div>
            <div class="row btn-container">
                <div class="col-12">
                    <input type="submit" value="Aceptar" class="btn btn-form">
                </div>
            </div>
            <hr>
        </form>

        <div class="row btn-container">
            <div class="col-md-6 col-6">
                <a href="./info-edificio" class="btn btn-form">Regresar</a>
            </div>
            <div class="col-md-6 col-6">
                <a href="./info-resumen" class="btn btn-form">Siguiente</a>
            </div>
        </div>
    </div>
</section>

<%- include('../includes/end.ejs') %>