<%- include('../includes/head.ejs') %>
<body>
<!--Header section-->
<%- include('../includes/header-main-menu.ejs') %>

<!--    Section-->
<section class="form-container">
    <% errores.forEach((mensaje) => { %>
    <div class="alert alert-danger text-center"><%= mensaje %></div>
    <% }) %>

    <div class="container-fluid frame-form">
        <h2>Analizar edificación</h2>
        <!--        Inicio form-->
        <form action="/upload_images/info-edificio-post" method="POST">
            <h3>Dirección de la edificación</h3>
            <div class="row">
                <div class="form-group col-md-9">
                    <label for="inputCalle">Calle</label>
                    <input  name="calle" type="text" class="form-control" id="inputCalle" placeholder="Calle" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputNumero">Número</label>
                    <input name="numero" type="text" minlength="1" class="form-control" id="inputNumero" placeholder="Número" required>
                </div>
                <div class="form-group col-lg-6">
                    <label for="inputColonia">Colonia</label>
                    <input name="colonia" type="text" class="form-control" id="inputColonia" placeholder="Colonia" required>
                </div>

                <div class="form-group col-lg-6">
                    <label for="inputAlcaldia">Alcaldía</label>
                    <select name="alcaldia" id="inputAlcaldia" class="form-control" required>
                        <option value="9" selected>Álvaro Obregón</option>
                        <option value="1">Azcapotzalco</option>
                        <option value="13">Benito Juárez</option>
                        <option value="2">Coyoacán</option>
                        <option value="3">Cuajimalpa de Morelos</option>
                        <option value="14">Cuauhtémoc</option>
                        <option value="4">Gustavo A. Madero</option>
                        <option value="5">Iztacalco</option>
                        <option value="7">Iztapalapa</option>
                        <option value="6">Magdalena Contreras</option>
                        <option value="15">Miguel Hidalgo</option>
                        <option value="8">Milpa Alta</option>
                        <option value="10">Tláhuac</option>
                        <option value="11">Tlalpan</option>
                        <option value="16">Venustiano Carranza</option>
                        <option value="12">Xochimilco</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-9">
                    <label for="inputState">Estado</label>
                    <input name="estado" type="text" class="form-control" id="inputState" value="Ciudad de México" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputCP">Código Postal</label>
                    <input name="cp" type="text" minlength="5" maxlength="6" class="form-control" id="inputCP" placeholder="Código Postal" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="inputNumAreas">Número de áreas de la edificación a analizar</label>
                    <input name="num_areas" type="number" min="1" value="1" class="form-control" id="inputNumAreas" required>
                </div>
                <div class="form-group col-lg-6">
                    <label for="inputInmueble">Uso del inmueble</label>
                    <select name="uso_inmueble" id="inputInmueble" class="form-control" required>
                        <option value="1" selected>Casa habitación</option>
                        <option value="2">Oficinas privadas</option>
                        <option value="3">Educación</option>
                        <option value="4">Departamentos</option>
                        <option value="5">Industrias</option>
                        <option value="6">Recreativo</option>
                        <option value="7">Comercios</option>
                        <option value="8">Estacionamiento</option>
                        <option value="9">Centro de reunión</option>
                        <option value="10">Oficinas públicas</option>
                        <option value="11">Bodegas</option>
                    </select>
                </div>
            </div>
            <div class="row btn-container">
                <div class="col-md-6 col-6">
                    <a href="../main_menu/main-menu" class="btn btn-form">Regresar</a>
                </div>
                <div class="col-md-6 col-6">
                    <!-- <a href="./info-areas" class="btn btn-form">Siguiente</a> -->
                    <button type="submit" class="btn btn-form">Enviar</button>
                </div>
            </div>
        </form>
        <!--        Fin form-->
    </div>
</section>

<%- include('../includes/end.ejs') %>