<%- include('../includes/head.ejs') %>
<body>
<!--Header section-->
<%- include('../includes/header-main-menu.ejs') %>

<section class="form-container">
    <div class="container-fluid frame-form">
        <h2>¡Registro exitoso!</h2>
        <p>La información del edificio ha sido enviada a la base de datos correctamente.</p>
        <p><span class="datos-imagenes">El número de ticket de la edificación es:</span> #ticket</p>


        <div class="row btn-container">
            <div class="col-sm-6">
                <a href="../main_menu/main-menu" class="btn btn-form">Ir al menú principal</a>
            </div>
            <div class="col-sm-6">
                <a href="../fill_report/report-form" class="btn btn-form">Llenar formato</a>
            </div>
        </div>
    </div>
</section>